body {
    background-color: #0F0813;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: #EFEFEF;
}

p, b, a {
    font-family: sans-serif;
    color: #EFEFEF;
}

h1.header {
    text-align: center;
}

div.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}